<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child is-info" style="overflow: hidden;">
          <div
            style="
              width: 100%;
              height: 100%;
              background-image: url('../../../../assets/img/pictures/12658044_1740107406222773_392742767351419433_o.jpg');
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 4px;
              border: 2px solid white;
            "></div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child">
          <div
            style="
              width: 100%;
              height: 100%;
              min-height: 256px;
              background-image: url('../../../../assets/img/pictures/35296102_2161740377392805_622900807745929216_o.jpg');
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 4px;
              border: 2px solid white;
            "></div>
        </article>
      </div>
    </div>
    <div class="tile is-parent is-vertical">
      <article class="tile is-child">
        <div
          style="
              width: 100%;
              height: 100%;
              min-height: 256px;
              background-image: url('../../../../assets/img/pictures/11794168_10152963723972353_7163103788552751587_o.jpg');
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 4px;
              border: 2px solid white;
            "></div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child">
      <div
        style="
              width: 100%;
              height: 100%;
              min-height: 256px;
              background-image: url('../../../../assets/img/pictures/50006583_2326508674249307_8069620804695883776_o.jpg');
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 4px;
              border: 2px solid white;
            "></div>
    </article>
  </div>
</div>
