<div class="container has-background-black" style="z-index: 2; border-radius: 0 0 4px 4px; overflow: hidden;">
  <img src="assets/img/events/66835482_2455125148054325_6741031169132855296_o.jpg" alt="event no3"/>
  <app-section>
    <app-biography>
      <app-hero-download></app-hero-download>
    </app-biography>
  </app-section>
</div>

<app-hero-ticketing>
  <h1 class="title is-size-2-mobile is-size-1-tablet has-text-white">
    Outrance Belgium <span class="has-text-primary">#4</span> à quoi s’attendre ?
  </h1>
</app-hero-ticketing>

<div class="container has-background-grey" style="z-index: 2; border-radius: 4px; overflow: hidden;">
  <app-section>
    <app-event-fourth>
      <app-hero-ticketing></app-hero-ticketing>
    </app-event-fourth>
  </app-section>
</div>
