<app-header-video></app-header-video>

<div class="container has-background-black" style="z-index: 2;">
  <app-section>
    <app-biography>
      <app-hero-download></app-hero-download>
    </app-biography>
  </app-section>
</div>

<app-hero-ticketing>
  <h1 class="title is-1 has-text-white">
    Outrance Belgium <span class="has-text-primary">#4</span> à quoi s’attendre ?
  </h1>
</app-hero-ticketing>

<div class="container has-background-grey" style="z-index: 2; border-radius: 4px 4px 0 0;">
  <app-section>
    <app-event-fourth>
      <app-hero-ticketing></app-hero-ticketing>
    </app-event-fourth>
  </app-section>
</div>
