<footer class="footer is-black has-background-black is-paddingless">
  <div class=" has-text-centered">
    <p>
      ©2014-{{nowYear}} <a href="https://www.outrance.org/" target="_blank" rel="noopener noreferrer">OUTRANCE</a>. All Rights Reserved<br/><br/>
      <strong class="has-text-white">Code</strong> by <a href="https://matray.website">Philippe Matray</a> from
      <a href="https://www.oniryx.be" target="_blank" rel="noopener noreferrer">Oniryx</a>.<br/>
      The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>
