<div class="container has-background-black" style="z-index: 2;">
  <app-section>
    <h1 class="title is-1 has-text-white">
      Les partenaires
    </h1>

    <h3 class="title is-3 has-text-white is-uppercase">
      Communes
    </h3>
    <div class="columns is-multiline is-mobile">
      <div class="column is-half-mobile is-one-third-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/logo-seraing.png" alt="Seraing">
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-third-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/e5c268_80ed7513480540a1960a6e4f30e158d3~mv2.png" alt="Ville de Lyon"/>
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-third-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/e5c268_e84813a97aa14917b690a7de646e1af8~mv2.png" alt="Chatillon la Palud"/>
          </figure>
        </div>
      </div>
    </div>

    <h3 class="title is-3 has-text-white is-uppercase" style="margin-top: 4rem;">
      Lieux
    </h3>
    <div class="columns is-multiline is-mobile">
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/kultura.png" alt="Kultura">
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box has-background-black" style="border: 2px solid white;">
          <figure class="image">
            <img src="../../../assets/img/partners/logo-jack-jack.png" alt="Jack-Jack">
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/e5c268_79680668d87f4ff9bdb1f43cee419438~mv2.png" alt="Ninkasi"/>
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/logo-use-in.jpg" alt="Use-In">
          </figure>
        </div>
      </div>
      <div class="column is-full-mobile is-half-tablet is-offset-one-quarter-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/e5c268_b3dde6c172b9457ebb765c567bc8c9e5~mv2.png" alt="Le Petit Salon"/>
          </figure>
        </div>
      </div>
    </div>

    <h3 class="title is-3 has-text-white is-uppercase" style="margin-top: 4rem;">
      Medias
    </h3>
    <div class="columns is-multiline is-mobile">
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box has-background-black" style="border: 2px solid white;">
          <figure class="image">
            <img src="../../../assets/img/partners/23621157_944504879034268_7590078474444310532_n.jpg" alt="PROUG"/>
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/70388237_2432756773456658_3591719792018456576_o.jpg" alt=""/>
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/e5c268_403a75dd466944fb9b2716e29912f866~mv2.png" alt=""/>
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/e5c268_e637c8c7f67c41aa9e194c6c0907251e~mv2.png" alt=""/>
          </figure>
        </div>
      </div>
    </div>

    <h3 class="title is-3 has-text-white is-uppercase" style="margin-top: 4rem;">
      Soutien technique
    </h3>
    <div class="columns is-multiline is-mobile">
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box has-background-black" style="border: 2px solid white;">
          <figure class="image">
            <img src="../../../assets/img/partners/logo-audioshow.png" alt=""/>
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/e5c268_6fdfb863d12e409fa4a9b11755d6f97d~mv2.png" alt=""/>
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/e5c268_6a7c183db3e04dea98127ed8b0958015~mv2.png" alt=""/>
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="box">
          <figure class="image">
            <img src="../../../assets/img/partners/e5c268_63115caab95a42b78e66835520b48a1e~mv2.png" alt=""/>
          </figure>
        </div>
      </div>
    </div>
  </app-section>
</div>
