<section class="hero" style="max-height: 384px; overflow: hidden; display: flex; align-items: center; justify-content: center">
  <video autoplay muted loop id="myVideo" style="width: 100%; z-index: 0;">
    <source src="../../../../assets/video/spin_cycle.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div style="
    width: 100%;
    height: 384px;
    position: absolute;
    z-index: 1;
    background-image: url('../../../../assets/img/ui/bg-shadowgrid.webp');
    background-repeat: repeat;
    overflow: hidden">
      <div class="container">
        <img src="../../../../assets/img/events/66835482_2455125148054325_6741031169132855296_o.jpg"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ex mollitia nesciunt velit veniam. Aspernatur, autem eius eligendi error fugit inventore omnis quasi qui quos rem sed sequi, temporibus, totam. Ab exercitationem impedit nisi odio placeat quia repudiandae sint. Animi consequatur error illum nisi non quas ratione saepe temporibus vitae!</p>
        <p>Harum officiis tempore veniam! Doloremque eum itaque molestias nemo obcaecati quae, quis totam. Ad, aliquam atque ducimus explicabo iusto neque rem! Architecto autem cupiditate debitis, eligendi enim esse, est excepturi expedita impedit laudantium nobis nostrum quae, quos? Distinctio eum ex ipsam magnam nihil non obcaecati omnis optio quaerat, similique voluptatum!</p>
        <p>Ab animi aperiam beatae enim illo maiores, nemo repellendus saepe. Aliquam commodi dolore dolorum incidunt laborum libero necessitatibus odio quibusdam quo quod similique sint, tempora voluptatem! A, aut cum cumque, cupiditate debitis deserunt facilis fuga impedit nesciunt, nihil pariatur quae quia quo ratione reiciendis repellat sapiente sint tempora tenetur voluptates!</p>
      </div>
  </div>

</section>
