<video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
       style="width: 100%; z-index: 0; position: fixed; bottom: 0; top:0;">
  <source type="video/mp4" src="http://video2.ignitemotion.com/files/mp4/spin_cycle.mp4">
  Your browser does not support HTML5 video.
</video>

<div style="
  width: 100%;
  position: fixed;
  bottom: 0;
  top:0;
  z-index: 1;
  background-image: url('assets/img/ui/bg-shadowgrid.png');
  background-repeat: repeat;
  overflow: hidden">
</div>

<div style="z-index: 2; width: 100%; bottom:0; top:0;">
  <ng-content></ng-content>
</div>
