<div class="columns is-multiline">
  <!-- Row 1 -->
  <div class="column is-two-fifths">
    <h3 class="title is-3 has-text-white">
      OUTRANCE BELGIUM<br/>
      <span class="has-text-primary">C’est quoi ?</span>
    </h3>
    <div class="box">
      <p>
        <strong>Outrance (Belgium)</strong> est un concept d’évènement festif en musique qui s’exporte aujourd’hui en Belgique.
        Ce projet est porté par un comité d’organisation d’une quinzaine de passionnés franco-belges;
        <strong>tous bénévoles</strong> au sein des associations à but non lucratif
        <a href="https://www.facebook.com/OutranceParty/" target="_blank" rel="noopener noreferrer">Outrance</a> et
        <a href="https://data.be/en/company/Electronic-Waves-ASBL-0704682630#Overview" target="_blank" rel="noopener noreferrer">EWA-Electronic Waves</a>.
      </p>
    </div>
  </div>
  <div class="column is-three-fifths">
    <figure class="image" style="border: 2px solid white; border-radius: 4px; overflow: hidden; z-index: 2">
      <img src="../../../../assets/img/pictures/13198417_1777766515790195_5280142465870399869_o.jpg"/>
    </figure>
  </div>

  <!-- Row 2 -->
  <div class="column is-full">
    <!-- Possibly a Hero Component -->
    <ng-content></ng-content>
  </div>

  <!-- Row 3 -->
  <div class="column is-three-fifths">
    <figure class="image" style="border: 2px solid white; border-radius: 4px; overflow: hidden; z-index: 2">
      <img src="../../../../assets/img/pictures/68725726_2170642573233789_3258039247306752000_n.jpg"/>
    </figure>
  </div>
  <div class="column is-two-fifths">
    <h3 class="title is-3 has-text-white">
      OUTRANCE BELGIUM<br/>
      <span class="has-text-primary">What is it?</span>
    </h3>
    <div class="box">
      <p>
        <strong>Outrance (Belgium)</strong> is a festive event concept in music that is now being exported to Belgium.
        This project is supported by an organizing committee of about fifteen Franco-Belgian enthusiasts;
        <strong>all volunteers</strong> within the non-profit associations
        <a href="https://www.facebook.com/OutranceParty/" target="_blank" rel="noopener noreferrer">Outrance</a> and
        <a href="https://data.be/en/company/Electronic-Waves-ASBL-0704682630#Overview" target="_blank" rel="noopener noreferrer">EWA-Electronic Waves</a>.
      </p>
    </div>
  </div>
</div>

