<div class="columns is-multiline">
  <!-- Row 1 -->
  <div class="column is-two-fifths">
    <h3 class="title is-3 has-text-white">
      La 4° Edition aura lieu<br/>
      <span class="has-text-primary">le 07/03/2020 !</span>
    </h3>
    <div class="box has-background-black-bis has-text-grey-light">
      <p>
        Cette fois nous investiront un nouveau lieu, anciens bâtiments industriels transformés en espace événementiel,
        <strong class="has-text-white">la Fabrik à Herstal (4040)</strong> !
      </p>
      <br/>
      <p>
        The 4th Edition will take place on 07/03/2020 ! This time we will take over a new place, old industrial buildings transformed into an event space,
        <strong class="has-text-white">la Fabrik à Herstal (4040)</strong> !
      </p>
    </div>
  </div>
  <div class="column is-three-fifths">
    <figure class="image" style="border: 2px solid white; border-radius: 4px; overflow: hidden; z-index: 2">
      <img src="../../../../assets/img/pictures/atelier.jpg"/>
    </figure>
  </div>

  <!-- Row 2 -->
  <div class="column is-two-thirds">
    <figure class="image" style="border: 2px solid white; border-radius: 4px; overflow: hidden; z-index: 2">
      <img src="../../../../assets/img/pictures/11794168_10152963723972353_7163103788552751587_o.jpg"/>
    </figure>
  </div>
  <div class="column is-one-third">
    <div class="box has-background-black-bis has-text-grey-light">
      <p>
        Nous proposerons
        <strong class="has-text-white">trois scènes</strong>,
        <strong class="has-text-white">10H de musique</strong> et
        <strong class="has-text-white">plus de 20 artistes internationaux et locaux</strong>, émergents
        ou reconnus dans le monde entier.
      </p>
      <br/>
      <p>
        We will offer
        <strong class="has-text-white">three stages</strong>,
        <strong class="has-text-white">10-hour music</strong> and
        <strong class="has-text-white">more than 20 international and local</strong>, emerging
        or internationally recognized artists.
      </p>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="column is-one-third">
    <div class="box has-background-black-bis has-text-grey-light">
      <p>
        Tous les espaces seront mis en valeurs par
        <strong class="has-text-white">des jeux de lumières, décorations, projections et différents stands</strong>
        seront à la disposition du public. Nous attendrons
        <strong class="has-text-white">2000 participants</strong>,
        étudiants ou jeunes travailleurs pour la plupart.
      </p>
      <br/>
      <p>
        All the spaces will be enhanced by
        <strong class="has-text-white">lighting, decorations, projections and various stands</strong>
        will be available to the public. We will expect
        <strong class="has-text-white">2000 participants</strong>,
        most of them students or young workers.
      </p>
    </div>
  </div>
  <div class="column is-one-third">
    <figure class="image" style="border: 2px solid white; border-radius: 4px; overflow: hidden; z-index: 2">
      <img src="../../../../assets/img/pictures/FB_IMG_1572268233217.jpg"/>
    </figure>
  </div>
  <div class="column is-one-third">
    <figure class="image" style="border: 2px solid white; border-radius: 4px; overflow: hidden; z-index: 2">
      <img src="../../../../assets/img/pictures/FB_IMG_1572267624619.jpg"/>
    </figure>
  </div>

  <!-- Row 4 -->
  <div class="column is-full">
    <figure class="image" style="border: 2px solid white; border-radius: 4px; overflow: hidden; z-index: 2">
      <img src="../../../../assets/img/pictures/FB_IMG_1572267616117.jpg"/>
    </figure>
  </div>

  <!-- Row 5 -->
  <div class="column is-full">
    <!-- Possibly a Hero Component -->
    <ng-content></ng-content>
  </div>

  <!-- Row 6 -->
  <div class="column is-full">
    <figure class="image" style="border: 2px solid white; border-radius: 4px; overflow: hidden; z-index: 2">
      <img src="../../../../assets/img/pictures/67974957_2170641923233854_4850508280511856640_n.jpg"/>
    </figure>
  </div>
</div>
