<div class="container has-background-black" style="z-index: 2; border-radius: 0 0 4px 4px; overflow: hidden;">
  <app-section>
    <h1 class="title is-size-2-mobile is-size-1-tablet has-text-white has-text-centered-mobile">
      Le comité d’organisation
    </h1>

    <div class="columns is-multiline">
      <!-- Row 1 -->
      <div class="column is-half">
        <h3 class="title is-size-4-mobile is-size-3-tablet has-text-white is-uppercase has-text-centered-mobile">
          Outrance
        </h3>
        <figure class="image" style="border: 2px solid white; border-radius: 4px; overflow: hidden; z-index: 2;">
          <img src="../../../assets/img/team/outrance.png" style="padding: 2rem;"/>
        </figure>
        <br/>
        <div class="box">
          <p>
            Le projet <strong>Outrance</strong> est né en Avril 2014 d'une envie commune de deux passionnés de musique électronique
            de partager une culture qui leur est chère : la Psytrance. Depuis le départ, un engouement exceptionnel entoure le projet Outrance a permis de nous développer. Aujourd'hui outrance à l'opportunité de réaliser des évènements dans de grands lieux lyonnais et d'accueillir les plus grands artistes internationaux.
          </p>
          <br/>
          <p>
            The <strong>Outrance</strong> project was born in April 2014 from a common desire of two electronic music enthusiasts to share a culture that is dear to them: Psytrance. Since the beginning, an exceptional enthusiasm for the Outrance project has enabled us to develop. Today, there is an abundance of opportunities to hold events in major Lyon venues and to host the greatest international artists.
          </p>
        </div>
        <div class="box is-paddingless">
          <figure class="image is-16by9">
            <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/qZ-OzFhCfiw?showinfo=0" frameborder="0" allowfullscreen></iframe>
          </figure>
        </div>
      </div>

      <div class="column is-half">
        <h3 class="title is-size-4-mobile is-size-3-tablet has-text-white is-uppercase has-text-centered-mobile">
          Electronic Waves
        </h3>
        <figure class="image" style="border: 2px solid white; border-radius: 4px; overflow: hidden; z-index: 2">
          <img src="../../../assets/img/team/Ewa_logo.png" style="padding: 2rem;"/>
        </figure>
        <br/>
        <div class="box">
          <p>
            Electronic Waves, EWA, est une ASBL liégeoise portée par trois passionnés de musique électronique souhaitant partager leurs coups de coeur au plus grand nombre. Outre, outrance Belgium, EWA prend part à l’organisation de plusieurs évènements chaque année, et que ce soit au réflektor au kultura..  les maitres mots restent découvertes et festivités.
          </p>
          <br/>
          <p>
            Electronic Waves, EWA, is a Liège-based non-profit organization supported by three electronic music enthusiasts who wish to share their favourites with as many people as possible. In addition to, outrance Belgium, EWA takes part in the organisation of several events each year, and whether it is the refktor at the kultura... the key words remain discovered and festivities.
          </p>
        </div>
        <div class="box is-paddingless">
          <figure class="image is-16by9">
            <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/sb_QCQcH7qQ?showinfo=0" frameborder="0" allowfullscreen></iframe>
          </figure>
        </div>
      </div>
    </div>

    <h1 class="title is-size-2-mobile is-size-1-tablet has-text-white has-text-centered-mobile" style="margin-top: 4rem">
      L'équipe
    </h1>
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <app-team-member name="Stan" role="Président du C.O.">
          <a href="tel:+32493684252">+32 493 68 42 52</a><br/>
          <a href="tel:+33611092526">+33 611 09 25 26</a><br/>
          <a href="mailto:stan@outrance.org">stan@outrance.org</a>
        </app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="Kevin" role="Président Outrance"></app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="JM" role="Président EWA"></app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="Olivier" role="Vice Président EWA"></app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="Dorian" role="Responsable Technique" role2="Son et Lumière"></app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="Raphaël" role="Vice président Outrance" role2="Chargé de Booking"></app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="Thomas" role="Trésorier EWA" role2="Chargé de Billetterie"></app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="Roots" role="Responsable Parking"></app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="Charly" role="Responsable Sécurité"></app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="Dario" role="Responsable Bar"></app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="Emmanuelle" role="Chargé de Promotion"></app-team-member>
      </div>
      <div class="column is-one-third">
        <app-team-member name="Charlotte" role="Chargé d’Accueil du Public"></app-team-member>
      </div>
    </div>
  </app-section>
</div>
